#!/bin/bash

{{ java_bin_path }} \
    -jar "{{ jenkins_directory }}/swarm-client.jar" \
    -name "{{ jenkins_slave_name }}" \
    -fsroot "{{ jenkins_directory }}/root" \
    -master "{{ jenkins_master_url }}" \
    -labels "{{ jenkins_slave_label }}" \
    -executors "{{ jenkins_slave_executors }}" \
    -mode "{{ jenkins_slave_mode | lower }}" \
    -disableClientsUniqueId \
    -deleteExistingClients
